@page "/"
@inherits EmployeeListBase

<h3>Number of Employees Selected - @SelectedEmployees</h3>

@if (Employees == null)
{
    <div class="spinner"></div>
}
else
{
    <input type="checkbox" @bind="ShowFooter" id="ShowFooter" bind:event="onchange" />
    <label for="ShowFooter">Show Footer</label>
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <EmployeeCard Employee="employee" ShowFooter="ShowFooter" EmployeeSelected="UpdateCount"></EmployeeCard>
        }
    </div>
}
