<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">EmployeeManagement.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/employee" Match="NavLinkMatch.All" @onclick="ClickHandler">
                <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Add Employee
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    @inject NavigationManager navigationManager;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ClickHandler()
    {
        navigationManager.NavigateTo("employee", true);
    }
}
